*/node_modules/*
mobile_qr.png
bank-app/build/*
dmv-app/build/*
offer_image.png
.env
oid4vc-sample-apps.code-workspace
.DS_Store
*.key
*.pem
*.srl
*.crt
*.csr
!verify_intermediate_pub.crt
!verify_pub.crt
!verify_root_pub.crt
dc-agency/docker/iag_config/req.conf
dc-agency/docker/config/config.yaml
venv