services:
  iviadcldap:
    container_name: iviadcldap
    image: bitnami/openldap:latest
    environment:
      LDAP_ADMIN_USERNAME: root
      LDAP_ADMIN_PASSWORD: passw0rd
      LDAP_USERS: user_1,user_2
      LDAP_PASSWORDS: secret,secret
      LDAP_ROOT: dc=ibm,dc=com
      LDAP_ADMIN_DN: cn=root,dc=ibm,dc=com
  iviadcdb:
    container_name: iviadcdb
    image: icr.io/ivia/ivia-postgresql:11.0.1.0
    environment:
      POSTGRES_USER: iviadc
      POSTGRES_PASSWORD: passw0rd
      POSTGRES_SSL_KEYDB: /var/postgres/config/iviadcdb_priv_pub.pem
    volumes:
      - ./postgres_config:/var/postgres/config:ro
      - ./postgres_config/postgresql_update_hba.sh:/docker-entrypoint-initdb.d/postgresql_update_hba.sh:ro
      - ./iviadc-ca.pem:/etc/ssl/certs/iviadc-ca.pem:ro
  iviadcop:
    container_name: iviadcop
    image: icr.io/ivia/ivia-oidc-provider:25.06
    ports:
      - "8436:8436"
    volumes:
      - ./oidc_provider_config:/var/isvaop/config
      - ./iviadc-ca.pem:/etc/ssl/certs/iviadc-ca.pem:ro
      - ./iviadc-ca.pem:/var/isvaop/config/iviadc-ca.pem:ro
    depends_on:
      - iviadcdb
      - iviadcldap
  iviadcgw:
    container_name: iviadcgw
    image: icr.io/ibmappgateway/ibm-application-gateway:25.09
    ports:
      - "8443:8443"
    volumes:
      - ./iag_config:/var/iag/config
      - ./iviadc-ca.pem:/etc/ssl/certs/iviadc-ca.pem:ro
      - ./iviadc-ca.pem:/var/iag/config/iviadc-ca.pem:ro
    depends_on:
      - iviadcop
  iviadc:
    container_name: iviadc
    image: icr.io/ivia/ivia-digital-credentials:25.09
    ports:
      - "9720:9720"
    volumes:
      - ./config:/var/config:ro
      - ./iviadc-ca.pem:/etc/ssl/certs/iviadc-ca.pem:ro
    environment:
      YAML_FILE: /var/config/config.yaml
      IBM_API_EXPLORER: 1
    depends_on:
      - iviadcdb
      - iviadcop
      - iviadcgw
networks:
  default:
    external: true
    name: iviadc-default
