---
version: 24.06

server:
  ssl:
    front_end:
      certificate:
      - "@iviadcgw_priv_pub.pem"
      - "@iviadc-ca.pem"
      - "@verify_pub.crt"
    applications:
      tlsv13: true

    trust_certificates:
    - "@iviadc-ca.pem"
    - "@verify_intermediate_pub.crt"
    - "@verify_root_pub.crt"

  # Enable the credviewer application.  The (un)authenticated
  # session cred can be viewed in the briser at https://<host:port>/credviewer
  # or API 
  local_applications:
      cred_viewer:
        path_segment: "credviewer"
        enable_html: true

# Authentication handled by an LUA based EAI for local deployment
identity:
  eai:
    triggers:
    - /locallogin*
#  oidc:
#    discovery_endpoint: "https://example.idp/oauth2/.well-known/openid-configuration"
#    client_id: "client_id"
#    client_secret: "client_secret"
#    pkce: true

policies:
  authorization:
    - name: eai_unauthenticated
      paths:
        - /locallogin
        - /locallogin?*
        - /credviewer
      rule:   anyuser
      action: permit

    # Authenticated access required for /oauth2/auth
    - name: authenticated_oauth2_auth
      paths:
        - /oauth2/auth*
        - /oauth2/auth/
      rule: anyauth
      action: permit

    # The agency introspects and enforces access tokens
    # Could possibly define a rule to validate tokens
    - name: diagency_unauthenticated
      paths:
        - /diagency*
      rule:   anyuser
      action: permit

    - name: op_unauthenticated
      paths:
        - /oauth2/authorize
        - /oauth2/authorize?
        - /oauth2/authorize*
        - /oauth2/authorize/*
        - /oauth2/token*
        - /oauth2/token/*
        - /oauth2/preauth*
        - /oauth2/preauth/*
        - /oauth2/introspect*
        - /oauth2/introspect/*
        - /oauth2/.well-known*
        - /oauth2/.well-known/*
        - /oauth2/userinfo*
        - /oauth2/userinfo/*
        - /oauth2/revoke*
        - /oauth2/revoke/*
        - /oauth2/device_authorization*
        - /oauth2/device_authorization/*
        - /oauth2/par*
        - /oauth2/par/*
        - /oauth2/register*
        - /oauth2/register/*
        - /oauth2/jwks*
        - /oauth2/jwks/*
      rule:   anyuser
      action: permit

  http_transformations:
    request:
      - name: map_to_oauth2_wk_config
        paths:
          - "/oauth2/.well-known/oauth-authorization-server"
          - "/.well-known/oauth-authorization-server/oauth2"
          - "/.well-known/openid-configuration/oauth2"
        method: "GET"
        rule: |
          -- Simply route the request to .well-known/openid-configuration
          HTTPRequest.setURL("/oauth2/.well-known/openid-configuration")

      - name: map_openid_credential_issuer
        paths:
          - "/.well-known/openid-credential-issuer/diagency/v1.0/diagency/trust/anchor/*"
        method: "GET"
        rule: |
          -- Map URLs of the form /.well-known/openid-credential-issuer/diagency/v1.0/diagency/trust/anchor/{agentId}
          -- to /diagency/v1.0/diagency/trust/anchor/{agentId}/.well-known/openid-credential-issuer
          local url = HTTPRequest.getURL()
          local agentId = string.match(url, "/%.well%-known/openid%-credential%-issuer/diagency/v1%.0/diagency/trust/anchor/([^/]+)")
          if agentId then
            HTTPRequest.setURL("/diagency/v1.0/diagency/trust/anchor/" .. agentId .. "/.well-known/openid-credential-issuer")
          end
      - name: map_jwt_vc_issuer
        paths:
          - "/.well-known/jwt-vc-issuer/diagency/v1.0/diagency/trust/anchor/*"
        method: "GET"
        rule: |
          -- Map URLs of the form /.well-known/jwt-vc-issuer/v1.0/diagency/trust/anchor/{agentId}
          -- to /v1.0/diagency/trust/anchor/{agentId}/.well-known/jwt-vc-issuer
          local url = HTTPRequest.getURL()
          local agentId = string.match(url, "/%.well%-known/jwt%-vc%-issuer/diagency/v1%.0/diagency/trust/anchor/([^/]+)")
          if agentId then
            HTTPRequest.setURL("/diagency/v1.0/diagency/trust/anchor/" .. agentId .. "/.well-known/jwt-vc-issuer")
          end

      - name: localmodeeai
        paths:
          - "/locallogin"
          - "/locallogin?*"
        method: "*"
        rule: |
          print("ENTERED localmodeeai")
          HTTPResponse.setHeader("am-eai-user-id", "user_1")
          HTTPResponse.setStatusCode(200)
          
    response:
      - name: map_from_oauth2_wk_config
        paths:
          - "/oauth2/.well-known/openid-configuration"
          - "/oauth2/.well-known/oauth-authorization-server"
          - "/.well-known/oauth-authorization-server/oauth2"
          - "/.well-known/openid-configuration/oauth2"
        method: "GET"
        rule: |
          -- We're going to inject "code_challenge_methods_supported": [ "plain" ]
          -- into the response payload
          
          local cjson = require "cjson"
          local payload = cjson.decode(HTTPResponse.getBody())

          local pkceMethods = { "plain" }
          setmetatable(pkceMethods, cjson.array_mt)
          payload["code_challenge_methods_supported"] = pkceMethods
          HTTPResponse.setBody(cjson.encode(payload))

    postazn:
      - name: localloginpostazn
        paths:
          - "/locallogin"
          - "/locallogin?*"
        method: "*"
        rule: |
          -- Set the EAI identity
          print("Entered basiceaipostazn")
          print(Control.dumpContext())
          if HTTPResponse.containsHeader("am-eai-user-id") then
            print("Setting authentication")
            Authentication.setUserIdentity(HTTPResponse.getHeader("am-eai-user-id"), false)

            local reqUrl = HTTPRequest.getURL()
            print("Request URL = " .. reqUrl)
            local _, _, targetUrl = string.find(reqUrl, "Target=(.*)")
            if targetUrl then
              local urlencode = require 'urlencode'
              targetUrl = urlencode.decode_url(targetUrl) 
              print("Target URL = " .. targetUrl)
              Authentication.setRedirectURL(targetUrl)
              return
            else
              print("TargetURL parse is nil")
            end
          end

resource_servers:
  - path: /oauth2
    transparent_path: true
    connection_type: ssl
    identity_headers:
      basic_auth:
        mode: "ignore"
      jwt:
        certificate:
        - "@ivjwt.key"
        - "@ivjwt.crt"
        hdr_name: "iv-jwt"
        claims:
          - name: "uid"
            attr: "AZN_CRED_PRINCIPAL_NAME"
    servers:
      - host: iviadcop
        port: 8436
        ssl:
          certificate:
          - "@iviadc-ca.pem"

  - path: /diagency
    transparent_path: true
    connection_type: ssl
    identity_headers:
      basic_auth:
        mode: ignore
    servers:
      - host: iviadc
        port: 9720
        ssl:
          certificate:
          - "@iviadc_pub.crt"